@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.text{
  width:75%;
}

body {
  background-color: whitesmoke;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  color: red;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  margin: 10px;
}

h2 {
  font-size: 28px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

a {
  text-decoration: none;
}

strong a {
  color: black;
}


.top{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tel:hover{
  color:red;
}

.email:hover{
  color:red;
}

.container{
  display: block;
  width: 70vw;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 10px;

  .img-circle {
    border-radius: 50%;
    height: 20vh;
    animation: glowing-animation 2s infinite;
    border: 2px solid #ff0000;
  };
}

@keyframes glowing-animation {
  0% {
    box-shadow: 0 0 6px #ff0000;
  }
  50% {
    box-shadow: 0 0 25px #ff0000;
  }
  100% {
    box-shadow: 0 0 6px #ff0000;
  }
}

.workbtn {
  display: block;
  background-color: white;
  border-color: rgb(203, 203, 203);
  border-style: solid;
  border-radius: 5px;
  width: 60%;
  margin-top: 10px;
  padding: 16px;
  font-size: 18px;
  color:red;
}

.workbtn:hover {
  background-color: red;
  border-radius: 5px;
  width: 60%;
  margin-top: 10px;
  padding: 16px;
  color: white;
  font-size: 18px;
}

.footer {
  margin-top: 4vh;
  text-align: center;
}

i {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 768px) {
  /* CSS styles for mobile devices */

  h1 {
    font-size: 42px;
  }

  .text{
    width:84%;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;

  }

  .container {
    width: 85vw;
  }
}
